{% comment %}
  Reduce below value if you need the back to the top button to appear higher up on the page.
  That value is in pixels.
{% endcomment %}
{% assign vertical_offset_for_trigger = 300 %}
{% comment %}
  Vertical offset from bottom of browser for the position of the button.
{% endcomment %}
{% assign position_from_bottom = '4em' %}
<a title="Back to the top" class="back-to-top">
  <i class="fa fa-chevron-up"></i><br />
  <span>Top</span>
</a>
{{ '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' | stylesheet_tag }}
<style>
.back-to-top {
  position: fixed;
  bottom: {{ position_from_bottom }};
  right: 0px;
  text-decoration: none;
  color: #999;
  background-color: #eee;
  font-size: 16px;
  padding: 0.5em;
  display: none;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 6000;
  border-radius: 100%;
  margin: 20px;
  text-align: center;
  width: 60px;
}
.back-to-top i {
  vertical-align: middle;
}
.back-to-top span {
  font-weight: 700;
  font-size: 14px;
}
.back-to-top i + span {
  padding-left: 0;
}
.back-to-top:hover {
  text-decoration: none;
  color: #555;
}
</style>
<script>
// window.onload = function() {
//  jQuery(function($) {
//    var offset = {{ vertical_offset_for_trigger }};
//    var duration = 500;
//    $(window).scroll(function() {
//      if ($(this).scrollTop() > offset) {
//        $('.back-to-top').fadeIn(duration);
//      }
//      else {
//        $('.back-to-top').fadeOut(duration);
//      }
//    });
//
//    $('.back-to-top').unbind('click.smoothscroll').bind('click', function(e) {
//      e.preventDefault();
//      console.log('animate to the top!')
//      $('html, body').animate( { scrollTop: 0 }, duration);
//      return false;
//    })
//  });
// }

$(function() {
  var offset = {{ vertical_offset_for_trigger }};
  var duration = 500;
  $(window).scroll(function() {
    if ($(this).scrollTop() > offset) {
      $('.back-to-top').fadeIn(duration);
    }
    else {
      $('.back-to-top').fadeOut(duration);
    }
  });

  $('.back-to-top').unbind('click.smoothscroll').bind('click', function(e) {
    e.preventDefault();
    console.log('animate to the top!')
    $('html, body').animate( { scrollTop: 0 }, duration);
    return false;
  })
})
</script>
