<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page limitWidth">
  {% include 'page-multi-column', content: page.content %}
</div>

<style>
  .limitWidth {
  	max-width: 1000px;
    margin: 0 auto !important;
    display: block;
    float: none;
  }
</style>